:root {
  --page-color: #ffffff;
  --page-bg: #FF4646;
  --header-color: #181C29;
  --header-bg: #ffffff;
  --header-logo-color:#FF4646;
  --burger-color: #181C29;
  --hover-bg: rgba(255, 70, 70, 0.06);
  --hover-color: #FF4646;
}
